*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
    /*source code from WebDevSimplified, used to select all the elements and make box sizing easier, see ReadMe for citation*/
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    background-image: url("https://images.unsplash.com/photo-1501691223387-dd0500403074?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cmFpbnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
  }
  
  .box {
    width: 800px;
    height: 600px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
  }
  
  .btn {
    background-color: grey;
    border: 1px solid honeydew;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
  }
  
  .btn:hover {
    border-color: black;
  }